* body {
  background-color:#F8F9FA;
}

h1,
h2,
h3,
h4
 {
  font-family: "Oswald", sans-serif;
  color: #2a2a2a
}
h5{
  font-family: "Mukta", sans-serif;
  color: #2a2a2a;

}
p {

  font-family: "Mukta", sans-serif;
  color: #2a2a2a;

}
.color_purple {
color: #C0B6FF;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #BFB6FF;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: #CEFF68;
  border: #CEFF68;
}

.btn-bg-info {
  background-color: #CEFF68;
  border: #CEFF68;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card-coaches {
  width: 320px;
  background: #fff480;
  color: black;
  position: relative;
  border-radius: 2.5em;
  padding: 2em;
  transition: transform 0.4s ease;
}

.card-coaches .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 100%;
  transition: transform 0.4s ease;
}

.card-coaches .card-top, .card-coaches .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-coaches .card-top p, .card-coaches .card-top .card-title, .card-coaches .card-bottom p, .card-coaches .card-bottom .card-title {
  margin: 0;
}

.card-coaches .card-title {
  font-weight: bold;
}

.card-coaches .card-top p, .card-coaches .card-bottom p {
  font-weight: 600;
}

.card-coaches .card-bottom {
  align-items: flex-end;
}

.card-coaches .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.card-coaches .card-coaches-image svg {
  width: 4em;
  height: 4em;
  transition: transform 0.4s ease;
}

.card-coaches:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}

.card:hover .card-image svg {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.9);
}

/* footer */

/* .card svg {
  height: 25px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}

.card::before, .card::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.card::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #bfb6ff;
}

.card::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #bab3f2;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card:hover span {
  opacity: 0;
  z-index: -3;
}

.card:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.card:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.card span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.card .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

.card .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
}

.card .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */