* 
body {
  background-color:#F8F9FA;
}

h1,
h2,
h3,
h4
 {
  font-family: "Oswald", sans-serif;
  color: #2a2a2a
}
h5{
  font-family: "Mukta", sans-serif;
  color: #2a2a2a;

}
p {

  font-family: "Mukta", sans-serif;
  color: #2a2a2a;

}
/* button*/

.color_purple {
color: #C0B6FF;
}

.topright {
  position: relative;
  top:0%;
  right: 16px;
}
.filter-btn {
  background-color: transparent;
  color: #2a2a2a;
  width: 8em;
  height: 2.9em;
  border: none;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
  text-decoration: none;
}

.filter-btn:hover {
  background-color: #EDEEF7;
  color: #2a2a2a
}

.button-login {
  background-color: transparent;
  color: #2a2a2a;
  width: 6em;
  height: 2.9em;
  border: none;
  border-radius: 11px;
  text-align: center;
  font-weight: 800;
  transition: all 0.6s ease;
}

.button-login:hover {
  background-color: #C0B6FF;
  color: #2a2a2a
}

.button-signup {
  background-color: #CEFF68;
  color: #2a2a2a;
  width: 6em;
  height: 2.9em;
  border: none;
  border-radius: 11px;
  text-align: center;
  transition: all 0.6s ease;
}

.button-signup:hover {
  background-color: #C0B6FF;
  color: #2a2a2a
}


.button-call {
  background-color: #CEFF68;
  color: #2a2a2a;
  width: 11em;
  height: 2.9em;
  border: none;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button-call:hover {
  background-color: #C0B6FF;
  color: #2a2a2a
}

.button-call svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button-call:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}

.buttondark {
  background-color: #2a2a2a;
  color: #F8F9FA;
  width: 11em;
  height: 2.9em;
  border: none;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.buttondark:hover {
  background-color: #C0B6FF;
  color: #000
}

.buttondark svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.buttondark:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #BFB6FF;
}

.btn-call-to-action-dark,
.btn-call-to-action-dark:hover,
.btn-call-to-action-dark:active,
.btn-call-to-action-dark:visited {
  background-color: #2a2a2a;
  border-radius:2em;
  color: #F8F9FA;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: #CEFF68;
  border: #CEFF68;
}

.btn-bg-info {
  background-color: #CEFF68;
  border: #CEFF68;
}

/* card*/

.card-coaches:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card-coaches {
  width: 320px;
  background: #ffff;
  color:#2a2a2a;
  position: relative;
  border-radius: 2.5em;
  padding: 3em;
  transition: transform 0.4s ease;
  margin:7px;
}

.card-coaches .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  height: 100%;
  transition: transform 0.4s ease;
}

.card-coaches .card-top, .card-coaches .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-coaches .card-top p, .card-coaches .card-top .card-title, .card-coaches .card-bottom p, .card-coaches .card-bottom .card-title {
  margin: 0;
}

.card-coaches .card-title {
  font-weight: bold;
}

.card-coaches .card-top p, .card-coaches .card-bottom p {
  font-weight: 400;
}

.card-coaches .card-bottom {
  align-items: flex-end;
}

.card-coaches .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.card-coaches .card-coaches-image svg {
  width: 4em;
  height: 4em;
  transition: transform 0.4s ease;
}

.card-coaches:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card-coaches:hover .card-content {
  transform: scale(0.96);
}

.card-coaches:hover .card-image svg {
  transform: scale(1.05);
}

.card-coaches:active {
  transform: scale(0.9);
}

/* footer */

/* social */
.container-social {
  position: relative;
  top: 5px;
 /*  choose your size */
  display: flex;
  flex-wrap: wrap;
}

.container-social button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #313638;
  transition: 0.3s;
  cursor: pointer;
}

.icon-social {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.container-social button:nth-child(1):hover {
  background-color: #2753a7;
}

.container-social button:nth-child(2):hover {
  background-color: #cd242b;
}

.container-social button:nth-child(3):hover {
  background-color: #55acee;
}

.container-social button:nth-child(4):hover {
  background-color: #0274b3;
}

.title-social {
  color: gray;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
}